<!--对象基本信息-->
<div class="page-header">
	<h1 luban-editable="object.name" object="object" placeholder="对象名称">
		<small>
			<i class="icon-double-angle-right"></i>
			<span luban-editable="object.type" object="object" placeholder="对象类型"></span>
		</small>
		<div class="pull-right text-right">
			<a class="btn btn-info" ng-if="object.type === '文件'" ng-href="file/download/{{object.id}}">下载</a>
			<button class="btn btn-danger" ng-if="allow('write')" ng-click="remove()">删除</button>
		</div>
	</h1>
</div>

<div class="row">
	<div class="col-xs-12">

		<div id="user-profile-1" class="user-profile row">
			
			<div class="col-xs-12 col-sm-3">

				<!--对象分类方式-->
				<div class="profile-contact-info">
					<div class="profile-contact-links align-left">
						<a class="btn btn-link" ng-if="!object.tag">
							<i class="light-blue">请添加分类</i>
						</a>
						<a class="btn btn-link" ng-repeat="(taxonomy, tag) in object.tag">
							<i class="light-blue">{{taxonomy}}</i>
							<span class="bigger-120 ">{{tag | plain}}</span>
						</a>
					</div>
					
				</div>

				<div class="space-2"></div>
				
				<form class="form-inline row row-compact" ng-show="adding.tag" ng-submit="addTag($event)">
					<div class="form-group col-sm-4">
						<input class="form-control form-control-xs form-control-justify" type="text" class="form-control form-control-xs" placeholder="分类方式" ng-model="new.tag.taxonomy" />
					</div>
					<div class="form-group col-sm-4">
						<input class="form-control form-control-xs form-control-justify" type="text" class="form-control form-control-xs" placeholder="分类" ng-model="new.tag.term" />
					</div>
					<button type="submit" class="btn btn-primary btn-xs icon-save"></button>
					<button type="button" class="btn btn-xs icon-chevron-left" ng-click="closePropAddForm('tag')"></button>
				</form>
				
				<button class="btn btn-info btn-xs icon-chevron-right" tooltip="为 {{object.name}} 添加一个分类标签 " ng-click="openPropAddForm('tag', $event)" ng-hide="adding.tag"></button>
				
				<div class="hr hr16 dotted"></div>
				
				<!--对象权限-->
				<div class="profile-user-info object-permission">
					<div class="profile-info-row">
						<div class="profile-info-name"> 查看 </div>

						<div class="profile-info-value">
							<span ng-repeat="user in object.permission.read">
								<a class="pointer-cursur" ng-click="showDetail(relative.id, relative.type)">{{user.name}}</a>
								<a class="icon-trash pointer-cursur" ng-click="prohibit('read', user.id)"></a>
							</span>
							<span ng-if="!object.permission.read.length">所有人</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> 修改 </div>

						<div class="profile-info-value">
							<span ng-repeat="user in object.permission.write">
								<a class="pointer-cursur" ng-click="showDetail(relative.id, relative.type)">{{user.name}}</a>
								<a class="icon-trash pointer-cursur" ng-click="prohibit('write', user.id)"></a>
							</span>
							<span ng-if="!object.permission.write.length">添加者</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name"> 授权 </div>

						<div class="profile-info-value">
							<span ng-repeat="user in object.permission.grant">
								<a class="pointer-cursur" ng-click="showDetail(relative.id, relative.type)">{{user.name}}</a>
								<a class="icon-trash pointer-cursur" ng-click="prohibit('grant', user.id)"></a>
							</span>
							<span ng-if="!object.permission.grant.length">添加者</span>
						</div>
					</div>
				</div>
				
				<form class="form-inline row row-compact" ng-show="adding.permission" ng-submit="authorize()">
					<div class="form-group col-sm-3">
						<select ng-model="new.permission.permission" ng-options="item.name as item.label for item in [{name:'read',label:'查看'},{name:'write',label:'修改'},{name:'grant',label:'授权'}]" class="form-control-xs"></select>
					</div>
					<div class="form-group col-sm-4">
						<input class="form-control form-control-xs form-control-justify" type="text" class="form-control form-control-xs" placeholder="用户" ng-model="new.permission.users_name" typeahead="object as object.name for object in searchUser($viewValue)" typeahead-template-url="partials/object_autocomplete.html" typeahead-wait-ms="100" typeahead-on-select="onAuthorizedUserSelected($item)">
					</div>
					<button type="submit" class="btn btn-primary btn-xs icon-key"></button>
					<button type="button" class="btn btn-xs icon-chevron-left" ng-click="closePropAddForm('permission')"></button>
				</form>
				
				<button class="btn btn-info btn-xs icon-chevron-right" tooltip="为 {{object.name}} 添加授权用户 / 组 " ng-click="openPropAddForm('permission', $event)" ng-hide="adding.permission"></button>
				
				<hr>

			</div>

			<div class="col-xs-12 col-sm-9">
				
				<!--对象元数据-->
				<div class="col-sm-offset-2 text-muted" ng-if="!object.meta">
					请添加元数据
				</div>
				<div class="space-4"></div>
				<div class="profile-user-info">
					<div class="profile-info-row" ng-repeat="(key, values) in object.meta">
						<div class="profile-info-name"> {{key}} </div>

						<div class="profile-info-value">
							<span ng-repeat="(index, value) in values">
								<span luban-editable="object.meta[key][index]" object="object" key="key" value="value"></span>
								<a class="icon-trash pointer-cursur" ng-click="removeMeta(key, value)"></a>
							</span>
							<a class="icon-trash pointer-cursur pull-right" ng-click="removeMeta(key)"></a>
						</div>
					</div>
					
				</div>

				<form class="form-inline" ng-show="adding.meta" ng-submit="addMeta($event)">
					<div class="form-group">
						<input type="text" class="form-control form-control-xs" placeholder="属性名称" ng-model="new.meta.key" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-xs" placeholder="属性值" ng-model="new.meta.value" />
					</div>
					<button type="submit" class="btn btn-primary btn-xs icon-save"></button>
					<button type="button" class="btn btn-xs icon-chevron-left" ng-click="closePropAddForm('meta')"></button>
				</form>
				
				<button class="btn btn-info btn-xs icon-chevron-right" tooltip="为 {{object.name}} 添加一个元数据" ng-click="openPropAddForm('meta', $event)" ng-hide="adding.meta"></button>
				
				<hr>

				<!--对象关联对象-->
				<div ng-show="object.parents">
					<div class="space-4"></div>
					<div class="profile-user-info">
						<div ng-repeat="(relation, parents) in object.parents">
							<div class="profile-info-row" ng-repeat="parent in parents">
								<div class="profile-info-name"></div>
								<div class="profile-info-value">
									{{parent.type}}
									<a class="pointer-cursur" ng-click="showDetail(parent.id, parent.type)">{{parent.name}}</a>
									的 {{relation}}
								</div>
							</div>
						</div>
					</div>
					<hr>
				</div>
				
				<div class="col-sm-offset-2 text-muted" ng-if="!object.relative">
					请添加关联对象
				</div>
				<div class="space-4"></div>
				<div class="profile-user-info">
					<div class="profile-info-row" ng-repeat="(relation, relatives) in object.relative">
						<div class="profile-info-name"> {{relation}} </div>

						<div class="profile-info-value">
							<span ng-repeat="relative in relatives">
								<a class="pointer-cursur" ng-click="showDetail(relative.id, relative.type)">{{relative.name}}</a>
								<a class="icon-trash pointer-cursur" ng-click="removeRelative(relation, relative.id)"></a>
							</span>
						</div>
					</div>
				</div>
				
				<form class="form-inline" ng-show="adding.relative" ng-submit="addRelative($event)">
					<div class="form-group">
						<input type="text" class="form-control form-control-xs" placeholder="关系" ng-model="new.relative.relation" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-xs" placeholder="关联对象" ng-model="new.relative.name" typeahead="object as object.name for object in search($viewValue)" typeahead-template-url="partials/object_autocomplete.html" typeahead-wait-ms="100" typeahead-on-select="onRelativeSelect($item)" />
					</div>
					<button type="submit" class="btn btn-primary btn-xs icon-save"></button>
					<button type="button" class="btn btn-xs icon-chevron-left" ng-click="closePropAddForm('relative')"></button>
				</form>

				<button class="btn btn-info btn-xs icon-chevron-right" tooltip="为 {{object.name}} 添加一个关联对象" ng-click="openPropAddForm('relative', $event)" ng-hide="adding.relative"></button>
				
				<hr>

				<!--对象状态-->
				<div class="col-sm-offset-2 text-muted" ng-if="!object.status.length">
					请添加状态
				</div>
				<div class="space-4"></div>
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<div class="timeline-container timeline-style2">
							<div class="timeline-items">
								<div class="timeline-item clearfix" ng-repeat="status in object.status">
									<div class="timeline-info">
										<span class="timeline-date"> {{status.date.replace(' 00:00:00','')}} </span>
										<i class="timeline-indicator btn btn-info no-hover"></i>
									</div>
									<div class="widget-box transparent">
										<div class="widget-body">
											<div class="widget-main no-padding">
												<span class="bigger-110">
													{{status.name}}
												</span>
												<a class="icon-trash pointer-cursur" ng-click="removeStatus(status.name, status.date)"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<form class="form-inline" ng-show="adding.status" ng-submit="addStatus($event)">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control form-control-xs" type="text" placeholder="日期时间" ng-model="new.status.date" datepicker-popup is-open="new.status.isDatepickerOpen" style="width:auto">
							<span class="input-group-btn" style="width:auto">
								<button type="button" class="btn btn-xs icon-calendar" ng-click="toggleStatusDatepicker($event)"></button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-xs" placeholder="状态名称" ng-model="new.status.name" />
					</div>
					<button type="submit" class="btn btn-primary btn-xs icon-save"></button>
					<button type="button" class="btn btn-xs icon-chevron-left" ng-click="closePropAddForm('status')"></button>
				</form>

				<button class="btn btn-info btn-xs icon-chevron-right" tooltip="为 {{object.name}} 添加一个状态" ng-click="openPropAddForm('status', $event)" ng-hide="adding.status"></button>
				
			</div>
		</div>
	</div>
</div>