<span ng-if="!isEditing" ng-click="edit()" class="value">&nbsp;{{value | plain}}&nbsp;</span>
<span ng-if="isEditing">
	<span ng-if="type === undefined || type === 'text'">
		<input type="text" name="{{name}}" class="editable" ng-model="$parent.$parent.value" ng-change="save()" ng-blur="editCompleted()" luban-enter="editCompleted()" luban-esc="editCanceled()" placeholder="{{placeholder}}">
	</span>
	<span ng-if="type === 'radio'">{{}}
		<label class="radio-inline" ng-repeat="option in $parent.$parent.options">
			<input type="radio" name="{{name}}" class="ace" ng-value="option" ng-model="$parent.$parent.$parent.value" ng-change="save(); editCompleted()" luban-enter="editCompleted()" luban-esc="editCanceled()">
			<span class="lbl">{{option}}</span>
		</label>
	</span>
	<span ng-if="type === 'select'">
		<select name="{{name}}" ng-model="$parent.$parent.value" ng-options="name for name in $parent.$parent.options" ng-change="save(); editCompleted()" ng-blur="editCompleted()"></select>
	</span>
</span>
<span ng-transclude></span>