<a href="#/detail" class="btn btn-primary">添加</a>
<span id="paginator" class="pull-right">
	<button class="btn icon-chevron-left" ng-click="previousPage()" ng-disabled="!currentPage || currentPage === 1"></button>
	<button class="btn icon-chevron-right" ng-click="nextPage()"></button>
</span>
<hr>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>名称</th>
			<th>类型</th>
			<th>状态</th>
			<th>标签</th>
		</tr>
	</thead>
	<tbody>
		<tr class="pointer-cursur" ng-repeat="object in objects" ng-click="showDetail(object.id)">
			<td>{{object.name}}</td>
			<td>{{object.type}}</td>
			<td>{{object.status}}</td>
			<td>{{object.tag}}</td>
		</tr>
	</tbody>
</table>