<div class="clearfix">
	<a href="#/detail" class="btn btn-primary icon-plus"></a>
	<button type="button" class="btn icon-refresh" ng-click="reload()"></button>
	<form class="form-inline" ng-submit="search()" style="display: inline;">
		<div class="form-group">
			<input type="text" placeholder="搜索" class="form-control" ng-model="searchKeyword">
		</div>
		<button type="submit" class="btn btn-primary icon-search"></button>
		<button type="reset" class="btn icon-remove" ng-if="searchKeyword" ng-click="cancelSearch()"></button>
	</form>
	<a class="btn btn-purple pull-right icon-bookmark" ng-click="showNavSaveForm()"></a>
	<span id="paginator" class="pull-right">
		<span class="dataTables_info">{{objectListStart}} - {{objectListEnd}}, {{totalObjects}}</span>
		<button class="btn icon-chevron-left" ng-click="previousPage()" ng-disabled="!currentPage || currentPage === 1"></button>
		<button class="btn icon-chevron-right" ng-click="nextPage()" ng-disabled="objectListEnd >= totalObjects"></button>
	</span>
</div>
<hr class="hr-10">
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>名称</th>
			<th>类型</th>
			<th>状态</th>
			<th>标签</th>
		</tr>
	</thead>
	<tbody>
		<tr class="pointer-cursur" ng-repeat="object in objects" ng-click="showDetail(object.id, object.type)">
			<td>{{object.name}}</td>
			<td>{{object.type}}</td>
			<td>{{object.status | orderBy:'date':true | limitTo:1 | select:'name' | plain}}</td>
			<td>{{object.tag | plain}}</td>
		</tr>
	</tbody>
</table>