<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名 </label>

				<div class="col-sm-9">
					<input type="text" id="form-field-1" placeholder="Username" class="col-xs-10 col-sm-5">
				</div>
			</div>
			
			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">性别</label>

				<span class="radio col-sm-offset-3">
					<label>
						<input name="gender" value="男" type="radio" class="ace">
						<span class="lbl"> 男</span>
					</label>
				</span>

				<span class="radio col-sm-offset-3">
					<label>
						<input name="gender" value="女" type="radio" class="ace">
						<span class="lbl"> 女</span>
					</label>
				</span>
			</div>
			
			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Password Field </label>

				<div class="col-sm-9">
					<input type="password" id="form-field-2" placeholder="Password" class="col-xs-10 col-sm-5">
					<span class="help-inline col-xs-12 col-sm-7">
						<span class="middle">Inline help text</span>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"> Readonly field </label>

				<div class="col-sm-9">
					<input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly" value="This text field is readonly!">
					<span class="help-inline col-xs-12 col-sm-7">
						<label class="middle">
							<input class="ace" type="checkbox" id="id-disable-check">
							<span class="lbl"> Disable it!</span>
						</label>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">Input with Icon</label>

				<div class="col-sm-9">
					<span class="input-icon">
						<input type="text" id="form-field-icon-1">
						<i class="icon-leaf blue"></i>
					</span>

					<span class="input-icon input-icon-right">
						<input type="text" id="form-field-icon-2">
						<i class="icon-leaf green"></i>
					</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-6">Tooltip and help button</label>

				<div class="col-sm-9">
					<input data-rel="tooltip" type="text" id="form-field-6" placeholder="Tooltip on hover" title="" data-placement="bottom" data-original-title="Hello Tooltip!">
					<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="More details." title="" data-original-title="Popover on hover">?</span>
				</div>
			</div>

			<div class="space-4"></div>

			<div class="hr hr-24"></div>
			<!-- /row -->

		</form>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
