<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="姓名"> 姓名 </label>
				<div class="col-sm-9" luban-editable="my.meta['姓名']" object="my"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label">性别</label>
				<div class="col-sm-9" luban-editable="my.meta['性别']" object="my" type="radio" options="genders"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="专业"> 专业 </label>
				<div class="col-sm-9" luban-editable="my.meta['专业']" object="my"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="年级"> 年级 </label>
				<div class="col-sm-9" luban-editable="my.meta['年级']" object="my" type="select" options="grades"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="英语水平"> 英语水平 </label>
				<div class="col-sm-9" luban-editable="my.meta['英语水平']" object="my"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="户籍"> 户籍 </label>
				<div class="col-sm-9" luban-editable="my.meta['户籍']" object="my"></div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-3 control-label" for="绩点"> 绩点 </label>
				<div class="col-sm-9" luban-editable="my.meta['绩点']" object="my"></div>
			</div>
			
			<div class="hr hr-24"></div>
			<!-- /row -->

		</form>
		<div class="dropzone" luban-dropzone files="resumes"></div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
