<form class="form-horizontal" ng-submit="user.id ? updateConfig() : save()">
	<tabset>
		
		<tab heading="基本信息" id="edit-password">
			<div class="space-10"></div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="username">用户名</label>

				<div class="col-sm-9">
					<input id="username" type="text" ng-model="$parent.user.name" required>
					&nbsp;
					<label>
						<input type="checkbox" ng-model="$parent.user.type" ng-true-value="group" ng-false-value="user">
						用户组
					</label>
				</div>
			</div>

			<div class="space-4" ng-show="$parent.user.id"></div>

			<div class="form-group" ng-show="$parent.user.id">
				<label class="col-sm-3 control-label no-padding-right" for="email">关联对象</label>

				<div class="col-sm-9 form-control-static">
					{{$parent.user.object_name}}
					<a class="icon-link" ng-href="#detail/{{$parent.user.id}}"></a>
				</div>
			</div>

			<div class="space-4" ng-show="$parent.user.type !== 'group'"></div>

			<div class="form-group" ng-show="$parent.user.type !== 'group'">
				<label class="col-sm-3 control-label no-padding-right" for="email">电子邮件</label>

				<div class="col-sm-9">
					<input id="email" type="text" ng-model="$parent.user.email" ng-required="$parent.user.type !== 'group'">
				</div>
			</div>

			<div class="space-4" ng-show="$parent.user.type !== 'group'"></div>

			<div class="form-group" ng-show="$parent.user.type !== 'group'">
				<label class="col-sm-3 control-label no-padding-right" for="new-password">新密码</label>

				<div class="col-sm-9">
					<input id="new-password" type="password" ng-model="$parent.newPassword">
					<span class="label" ng-show="$parent.user.id">留空则不修改密码</span>
				</div>
			</div>

			<div class="space-4" ng-show="$parent.user.type !== 'group'"></div>

			<div class="form-group" ng-show="$parent.user.type !== 'group'">
				<label class="col-sm-3 control-label no-padding-right" for="new-password-confirm">重复新密码</label>

				<div class="col-sm-9">
					<input id="new-password-confirm" type="password" ng-model="$parent.newPasswordConfirm">
				</div>
			</div>
		</tab>
		<tab heading="偏好设置">
			<h1 class="grey lighter smaller">
				<i class="icon-wrench icon-animated-wrench bigger-125"></i>
				此功能正在开发
			</h1>

			<hr>

			<div>
				<ul class="list-unstyled spaced inline bigger-110 margin-15">
					<li>
						<i class="icon-hand-right blue"></i>
						请您继续试用系统的其他功能
					</li>

					<li>
						<i class="icon-hand-right blue"></i>
						如您急需调整设置，可联系管理员
					</li>
				</ul>
			</div>
		</tab>
	</tabset>
	
	<div class="clearfix form-actions">
		<div class="col-md-offset-3 col-md-9">
			<button type="submit" class="btn btn-info">
				<i class="icon-ok bigger-110"></i>
				保存
			</button>
		</div>
	</div>
</form>