<h4 class="table-title">{{title}}<i class="icon-plus bigger-200" ng-click="addrow()"></i></h4>
<table class="table table-bordered" ng-show="data.length">
    <!--tr>
        <td ng-repeat="v in titles track by $index">{{v}}</td>  
        <td style="width:20px;text-align:center">
            <i class="icon-plus bigger-200" ng-click="addrow()"></i>
        </td>
    </tr-->
    
    <tr ng-repeat="(index,row) in data">

        <!-- <td ng-repeat="(key,value) in row track by $index | filter:{id:1}" ng-class="editing?'editing':''"> -->
        <td ng-repeat="field in fields track by $index" ng-class="editing?'editing':''">
            <div ng-bind-html-unsafe="(render&&render[field]) ? render[field](row[field]) : row[field]" ng-dblclick="editcell($event)" ng-hide="editing" class="grid-content"></div>
            <div ng-include="'template/sysGrid/' + widgets[$index] + '.html'"></div>
            <script type="text/ng-template" id="template/sysGrid/text.html">
                <input type="text" ng-model="row[field]" required class="grid-edting" ng-blur="exitEdit($event,row,index)" ng-show="editing" />
            </script>
        </td>
        <td>
            <i class="icon-trash bigger-200" ng-click="removerow(row,index)"></i>
        </td>
    </tr>
</table>

